*{

	margin: 0px;
    padding: 0px;

}
 body{
 background-image: url(image/back.jpg);
 background-size: 100%;


}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr .5fr;
	width: 80%;
	margin: 0 auto;
}
.navbar ul{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
	list-style: none;
	padding-left: 0;
	padding-top: 0;
	
}
.navbar li{
	padding: 40px;
	background-color: #ba2378 ;
	border: 2px ;
	font-size: 18px;

}
.navbar li a{
	text-decoration: none;
	color: white;
}
